
<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      <%= @competition.title %>
    </p>
    <p class="subtitle">
      <%= @competition.competition_date %> <br>
      <%= @competition.location %>
    </p>
  </div>
</section>

<section class="section">

  <div class="columns is-multiline">

    <% @age_ranges.each do |ag| %>

      <div class="column is-narrow ">
        <div class="card">
          <div class="card-content">
            <p class="title">
              <%= ag.display_name %>
            </p>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <span>
                <a href="/sso/<%= @competition.id.to_s %>/events-second/<%=ag.id%>">View</a>
              </span>
            </p>
          </footer>
        </div>
      </div>

    <% end %>

  </div>

</section>