<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      Age Ranges
    </p>
    <p class="subtitle">
      Bellow are all your active age Ranges
    </p>
  </div>
</section>

<section class="section">

  <table class="table">
    <thead>
    <tr>
      <th>Display name</th>
      <th>Competing Category</th>
      <th>Max age</th>
      <th>Cut-off Date</th>
      <th></th>
    </tr>
    </thead>

    <tbody>

    <%= form_tag "/wso/age-range-create/" + params[:id].to_s do %>
      <tr>
        <td>
          <input class="input" name="display_name" type="text" value="">
        </td>
        <td >
          <input class="input" name="competing_category" type="text" value="">
        </td>
        <td>
          <input class="input" name="max_age" type="text" value="">
        </td>
        <td>
          <input class="input" type="date" id="cutoff" name="cutoff" required pattern="\d{4}-\d{2}-\d{2}" value="" />
        </td>
        <td>
          <%= submit_tag "Create", class: "button is-info is-outlined", onClick: "refreshPage()" %>
        </td>
      </tr>
    <% end %>



    <% AgeRange.where(competition_id: params[:id]).order(before: :desc).each do |ar| %>
      <%= form_tag "/wso/age-range-update/" + ar.id.to_s + "/" + params[:id].to_s do %>
        <tr>
          <td>
            <input class="input" name="display_name" type="text" value="<%= ar.display_name %>">
          </td>
          <td >
            <input class="input" name="competing_category" type="text" value="<%= ar.competing_category %>">
          </td>
          <td>
            <input class="input" name="max_age" type="text" value="<%= Date.today.year - ar.after.year %>">
          </td>
          <td>
            <input class="input" type="date" id="cutoff" name="cutoff" required pattern="\d{4}-\d{2}-\d{2}" value="<%= (ar.after + (Date.today.year - ar.after.year).year).strftime("%Y-%m-%d") %>" />
          </td>
          <td>
            <%= submit_tag "Update", class: "button is-info is-outlined", onClick: "refreshPage()" %>
          </td>
      <% end %>
      <td>
        <%= form_tag "/wso/age-range-delete/" + ar.id.to_s + "/" + params[:id].to_s do %>
          <%= submit_tag "Delete", class: "button is-danger is-outlined", onClick: "refreshPage()" %>
        <% end %>
      </td>
      </tr>



    <% end %>

    </tbody>

  </table>

</section>

<script>
    // sleep time expects milliseconds
    function sleep (time) {
        return new Promise((resolve) => setTimeout(resolve, time));
    }

    // Usage!


    function refreshPage(){
        sleep(200).then(() => {
            window.location.reload();
        });

    }
</script>