<h1>Competitions</h1>

<ul>

  <li>
    <%= link_to "Create Competition", "/wso/competitions/new" %>
  </li>


  <% @competitions.each do |competition| %>
    <li>
      <div>
        <a href="/wso/competitions/<%= competition.id %>"><%= competition.title %></a>
        <p><%= competition.competition_date %></p>
        <p><%= competition.location %></p>
      </div>
    </li>
  <% end %>
</ul>
