
<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      Welcome <%= Cadet.where(id: 1).first.firstname %>
    </p>
    <p class="subtitle">
      <% Cadet.where(id: 1).first.squadron.name %>
    </p>
    <p class="subtitle">
      Below are all your active competitions
    </p>
    <a class="button is-large is-info" href="/cadet/my-events">
      <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M40 48C26.7 48 16 58.7 16 72v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V72c0-13.3-10.7-24-24-24H40zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zM16 232v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V232c0-13.3-10.7-24-24-24H40c-13.3 0-24 10.7-24 24zM40 368c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V392c0-13.3-10.7-24-24-24H40z"/></svg>
      <p>&nbsp;&nbsp; My Events </p>
    </a>

  </div>
</section>

 <hr>

<section class="section">

  <p class="title">
    Upcoming events
  </p>

  <div class="columns is-multiline">

    <% @competitions.each do |c| %>

      <div class="column is-narrow ">
        <div class="card">
          <div class="card-content">
            <p class="title">
              <%= c.title %>
            </p>
            <p class="subtitle">
              Date: <%= c.competition_date.to_s %>
            </p>
            <p class="subtitle">
              Location: <%= c.location %>
            </p>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <span>
                <a href="/cadet/<%= c.id %>/events-friend-bad">View</a>
              </span>
            </p>
          </footer>
        </div>
      </div>

    <% end %>

  </div>

</section>

<div id="registration-updates"></div>

<script>


</script>