<!DOCTYPE html>
<html>
<head>
  <title>CadetSportsManager</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%#= action_cable_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <!-- SOME RANDOM HTML -->
  <%= javascript_importmap_tags %>
  <!-- SOME RANDOM HTML -->

  <%= render 'layouts/headers' %>
</head>

<body>
<%= render 'layouts/navbar_cadet' %>


<%= yield %>


<%= render 'layouts/bulmajs' %>
</body>
</html>
